<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Dashboard</title>
    <!-- Include necessary styles/scripts -->
    
    <link rel="stylesheet" type="text/css" href="static/js/styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Include Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Include Bootstrap Table CSS -->
    <link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">

    <!-- Include Bootstrap Table JS -->
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>

    
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>COVID-19 Dashboard</h1>
            <p>Use the interactive charts below to explore the dataset</p>
          </div>
        </div>
    <!-- Container for the first vaccine drop down menu -->
    <div id="dropdown-container"></div>
    
    <div class="col-md-5"></div>
    <div id="bar"></div>
    
    <div>
       
            
        </select>
    </div>
    
    
    <!-- Include your JavaScript file -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    
   



    <!-- Container for the second chart -->
    <div>
        <div class="col-md-5"></div>
        <div id="bubble"></div>
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    


    <div>
        <div class="col-md-5"></div>
        <div id="bar2"></div>
    </div>

    

<!--     
    <table
        id="table"
        data-toggle="table"
        data-data='[
            {  PRODUCT_NAME: "AZD1222", Company_name: "AstraZeneca" },
            { PRODUCT_NAME: "Ad26.COV 2-S", Company_name: "Janssen Pharmaceuticals" },
            { PRODUCT_NAME: "BBIBP-CorV", Company_name: "Beijing Bio-Institute Biological Products (CNBG)" },
            {  PRODUCT_NAME: "CIGB-66", Company_name: "Center for Genetic Engineering and Biotechnology" },
            {  PRODUCT_NAME: "Comirnaty", Company_name: "Pfizer BioNTech" },
            {  PRODUCT_NAME: "Convidecia", Company_name: "CanSino Biologicals" },
            {  PRODUCT_NAME: "Corbevax", Company_name: "Biological E" },
            {  PRODUCT_NAME: "Coronavac", Company_name: "Sinovac" },
            {  PRODUCT_NAME: "Covaxin", Company_name: "Bharat Biotech" },
            {  PRODUCT_NAME: "Covi-Vac", Company_name: "Chumakov" },
            {PRODUCT_NAME: "Covidful", Company_name: "Insitute of Medical Biology" },
            {  PRODUCT_NAME: "Covishield", Company_name: "Serum Institute of India" },
            {  PRODUCT_NAME: "EpiVacCorona", Company_name: "State Research Center of Virology & Biotechnology" },
            {  PRODUCT_NAME: "Gam-Covid-Vac", Company_name: "Gamaleya Research Institute" },
            {PRODUCT_NAME: "Inactivated SARS-CoV-2 vaccine", Company_name: "Wuhan Institute of Biological Products (CNBG)" },
            {  PRODUCT_NAME: "LV-SMENP-DC", Company_name: "Shenzhen GenoImmune Medical Institute" },
            { PRODUCT_NAME: "NUVAXOVID", Company_name: "Novavax" },
            {  PRODUCT_NAME: "QazVac", Company_name: "Research Institute for Biological Safety Problems" },
            { PRODUCT_NAME: "Soberana Plus", Company_name: "Instituto Finlay de Vacunas" },
            {  PRODUCT_NAME: "Soberana-02", Company_name: "Instituto Finlay de Vacunas" },
            {  PRODUCT_NAME: "Spikevax", Company_name: "Moderna" },
            { PRODUCT_NAME: "Sputnik-Light", Company_name: "Gamaleya Research Institute" },
            { PRODUCT_NAME: "VLA2001", Company_name: "Valneva" },
            {  PRODUCT_NAME: "Vaxzevria", Company_name: "AstraZeneca" },
            {  PRODUCT_NAME: "Zifivax", Company_name: "Anhui Zhifei Longcom Biopharmaceutical" },
            { PRODUCT_NAME: "ZyCov-D", Company_name: "Zydus Cadila" },
            {  PRODUCT_NAME: "mRNA-1273", Company_name: "Moderna" }]'>
        <thead>
            <tr>
                <th data-field="PRODUCT_NAME">Product Name</th>
                <th data-field="Company_name">Company Name</th>
            </tr>
        </thead>
    </table> -->

    
   
</body>
</html>